PORT=
APP_URL=
DATABASE_URL=
QUEUECARE_ADMIN_EMAIL=
QUEUECARE_ADMIN_PASSWORD=
SUPABASE_PROJECT_REF=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
VITE_SOCKET_PATH=
EMAIL_PROVIDER=
EMAIL_API_KEY=
EMAIL_FROM=
